<section class="sub-content" [formGroup]="group">
    <mat-form-field>
        <mat-select placeholder="Race" formControlName="race">
            <mat-option value="human">Human</mat-option>
            <mat-option value="orc">Orc</mat-option>
            <mat-option value="gnome">Gnome</mat-option>
            <mat-option value="elf">Elf</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-radio-group class="form-field radio-group-inline" formControlName="gender">
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="male">Male</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="form-field">
        <input name="name" placeholder="Name" type="text" matInput formControlName="name" maxlength="50">
        <mat-error *ngIf="group.get('name')?.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="group.get('name')?.hasError('capitalCase')">First letter should be capital</mat-error>
        <mat-error *ngIf="group.get('name')?.hasError('orcName')">Orc name should end with -Duc, -Argh or -Urc</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <input name="height" placeholder="Height" type="number" matInput formControlName="height">
        <span matSuffix>cm</span>
        <mat-error *ngIf="group.get('height')?.hasError('required')">Height is required</mat-error>
        <mat-error *ngIf="group.get('height')?.hasError('min')">Should not be less than 100</mat-error>
        <mat-error *ngIf="group.get('height')?.hasError('max')">Should not be more than 250</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <input name="weight" placeholder="Weight" type="number" matInput formControlName="weight">
        <span matSuffix>kg</span>
        <mat-error *ngIf="group.get('weight')?.hasError('required')">Weight is required</mat-error>
        <mat-error *ngIf="group.get('weight')?.hasError('min')">Should not be less than 50</mat-error>
        <mat-error *ngIf="group.get('weight')?.hasError('max')">Should not be more than 250</mat-error>
    </mat-form-field>
</section>
