.radio-group-inline {
    .mat-radio-button + .mat-radio-button {
        margin-left: 16px;
    }
}

.checkbox-group-inline {
    .mat-checkbox + .mat-checkbox {
        margin-left: 16px;
    }
}

.mat-icon.s20 {
    font-size: 20px;
}
