<wform-page-content>
    <mat-card class="fixed-width-center w-400">
        <form [formGroup]="form.group" (submit)="onSubmit()">
            <mat-card-title>Buy Sneackers!</mat-card-title>
            <mat-card-content>
                <mat-form-field class="form-field">
                    <mat-select formControlName="brand">
                        <mat-option *ngFor="let brand of availableBrands" [value]="brand">{{brand}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-select formControlName="size">
                        <mat-option *ngFor="let size of brands[this.form.value.brand]" [value]="size.size">{{size.size}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('size').hasError('noSize')">
                        There is no sneackers of this size anymore
                    </mat-error>
                    <mat-hint *ngIf="selectedSize && selectedSize.count > 0 && selectedSize.count <= 3">
                        Hurry up! Only {{selectedSize.count}} in stock!
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input formControlName="count" type="number" matInput min="0" [max]="selectedSize && selectedSize.count || 0">
                    <mat-error *ngIf="form.get('count').hasError('required')">
                        How many sneackers are you going to order?
                    </mat-error>
                    <mat-error *ngIf="form.get('count').hasError('min')">
                        You have to order at least one pair of sneackers
                    </mat-error>
                    <mat-error *ngIf="form.get('count').hasError('max')">
                        There are no so many sneackers in stock
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button type="button" mat-raised-button [disabled]="!selectedSize" (click)="onRemoveSize()">Outside Action: Remove one selected size</button>
                <span class="flex-1"></span>
                <button type="submit" mat-raised-button color="primary">Buy</button>
            </mat-card-actions>
        </form>
    </mat-card>
</wform-page-content>