.sub-content {
    padding: 20px 0;
}

.info {
    display: inline-block;
    margin-bottom: 15px;
}

.full-height {
    height: 100%;
}

.flex-1 {
    flex: 1;
}

.fixed-width-center {
    margin: 0 auto;
}

.w-50 {
    width: 50px;
}

.w-100 {
    width: 100px;
}

.w-300 {
    width: 300px;
}

.w-400 {
    width: 400px;
}

.w-700 {
    width: 700px;
}

.w-900 {
    width: 900px;
}

.w-half {
    width: 50%;
}

.w-full {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.flex-cross-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.color-error {
    color: red;
}

.text-uppercase {
    text-transform: uppercase;
}

.guideline {
    width: 300px;
    margin-left: 15px;
}