<mat-toolbar class="mat-elevation-z6" color="primary">
    <span>angular-wform Examples</span>
    <span class="flex-1"></span>
    <a mat-icon-button class="example-icon">
      <img src="../assets/github.svg">
    </a>
</mat-toolbar>
<mat-sidenav-container class="full-height">
    <mat-sidenav class="menu" mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="login" routerLinkActive="nav-item-active">Login</a>
            <a mat-list-item routerLink="pizza" routerLinkActive="nav-item-active">Pizza</a>
            <a mat-list-item routerLink="movies" routerLinkActive="nav-item-active">Movies</a>
            <a mat-list-item routerLink="sneackers" routerLinkActive="nav-item-active">Sneackers</a>
            <a mat-list-item routerLink="character" routerLinkActive="nav-item-active">Character Builder</a>
            <a mat-list-item routerLink="dangled-validator" routerLinkActive="nav-item-active">Dangled Validator</a>
            <a mat-list-item routerLink="dangled-validator-fix" routerLinkActive="nav-item-active">Dangled Validator (fix)</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>